@charset "UTF-8";

@font-face {
  font-family: "SourceHanSerifTW";
  src: url("../font/SourceHanSerifTC-ExtraLight.otf") format("opentype");
  font-weight: 200;
}

@font-face {
  font-family: "SourceHanSerifTW";
  src: url("../font/SourceHanSerifTC-Light.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "SourceHanSerifTW";
  src: url("../font/SourceHanSerifTC-Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "SourceHanSerifTW";
  src: url("../font/SourceHanSerifTC-Medium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "SourceHanSerifTW";
  src: url("../font/SourceHanSerifTC-SemiBold.otf") format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "SourceHanSerifTW";
  src: url("../font/SourceHanSerifTC-Bold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "SourceHanSerifTW";
  src: url("../font/SourceHanSerifTC-Heavy.otf") format("opentype");
  font-weight: 900;
}

.flow {
  padding: 60px 48px 73px;
}

.flow-back button,
.flow-back a {
  position: relative;
  z-index: 100;
  display: inline-flex;
  align-items: center;
  gap: 42px;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 1.2px;
  text-decoration: none;
  color: #6a5853;
}

.flow-back button span,
.flow-back a span {
  margin-top: -2px;
}

.flow-back button::before,
.flow-back a::before {
  content: "";
  width: 39px;
  height: 70px;
  background: url(../image/icon/back.svg) no-repeat center/contain;
}

.-menuOpen .flow-back button,
.-menuOpen .flow-back a {
  z-index: 0;
}

.flow-title {
  margin-top: 80px;
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  color: #483629;
}

.flow-card {
  margin: 57px 0 60px;
}

.flow-delete {
  text-align: center;
}

.flow-slider {
  position: relative;
}

.flow-slider > div {
  width: 796px;
  margin: 0 auto;
  overflow: hidden;
}

.flow-action {
  margin-top: 60px;
  text-align: center;
}

@media only screen and (max-width: 1169px) {
  .flow {
    padding: 5.1282051282vw 4.1025641026vw 6.2393162393vw;
  }

  .flow-back button,
  .flow-back a {
    gap: 3.5897435897vw;
    font-size: 5.1282051282vw;
    letter-spacing: 0.1025641026vw;
  }

  .flow-back button span,
  .flow-back a span {
    margin-top: -0.1709401709vw;
  }

  .flow-back button::before,
  .flow-back a::before {
    width: 3.3333333333vw;
    height: 5.9829059829vw;
  }

  .flow-title {
    margin-top: 6.8376068376vw;
    font-size: 4.1025641026vw;
    letter-spacing: 0.0854700855vw;
  }

  .flow-card {
    margin: 4.8717948718vw 0 5.1282051282vw;
  }

  .flow-slider > div {
    width: 68.0341880342vw;
  }

  .flow-action {
    margin-top: 5.1282051282vw;
  }
}

.card {
  position: relative;
  width: 792px;
  margin: 0 auto;
  border: 2px solid #fff;
}

.card::after {
  content: "loading...";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: 600;
  background-color: #ccc;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}

.card-bg img {
  width: 100%;
}

.card-input {
  position: absolute;
  top: 87px;
  right: 64px;
  box-sizing: border-box;
  width: 470px;
  height: 752px;
  padding: 5px;
}

.card-input > span {
  position: absolute;
  width: 13px;
  height: 13px;
  background-color: #63a378;
  z-index: 1;
}

.card-input > span:nth-child(1) {
  top: 0;
  left: 0;
}

.card-input > span:nth-child(2) {
  top: 0;
  right: 0;
}

.card-input > span:nth-child(3) {
  bottom: 0;
  left: 0;
}

.card-input > span:nth-child(4) {
  bottom: 0;
  right: 0;
}

.card.-loading::after {
  opacity: 1;
  pointer-events: visible;
}

@media only screen and (max-width: 1169px) {
  .card {
    width: 67.6923076923vw;
    border-width: 1px;
  }

  .card::after {
    font-size: 3.4188034188vw;
    -webkit-backdrop-filter: blur(0.8547008547vw);
    backdrop-filter: blur(0.8547008547vw);
  }

  .card-input {
    top: 7.4358974359vw;
    right: 5.4700854701vw;
    width: 40.1709401709vw;
    height: 64.2735042735vw;
    padding: 0.4273504274vw;
  }

  .card-input > span {
    width: 1.1111111111vw;
    height: 1.1111111111vw;
  }
}

.textarea {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 30px 30px 30px 60px;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.8;
  letter-spacing: 0.8px;
  color: #6a5853;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  word-wrap: break-word;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%2363A378FF' stroke-width='3' stroke-dasharray='8%2c 4' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
}

.textarea-wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.textarea-input {
  position: relative;
  min-width: 100%;
  height: 100%;
  white-space: pre-wrap;
  outline: none;
}

.textarea-input::after {
  content: "請在框內寫下感謝祝福";
  position: absolute;
  top: 0;
  right: 0;
  color: red;
  pointer-events: none;
}

.textarea.-hasText .textarea-input::after {
  content: none;
}

.textarea.-over:not(.-focus)::after {
  content: "...";
  position: absolute;
  top: 30px;
  left: 30px;
}

.textarea.-focus {
  padding: 30px 30px 30px 40px;
}

.textarea.-focus .textarea-wrap {
  overflow: auto;
}

@media only screen and (max-width: 1169px) {
  .textarea {
    padding: 2.5641025641vw 2.5641025641vw 2.5641025641vw 5.1282051282vw;
    font-size: 3.4188034188vw;
    letter-spacing: 0.0683760684vw;
  }

  .textarea.-over:not(.-focus)::after {
    top: 2.5641025641vw;
    left: 2.5641025641vw;
  }

  .textarea.-focus {
    padding: 2.5641025641vw 2.5641025641vw 2.5641025641vw 3.4188034188vw;
  }
}

.swiper[data-slider-bg] {
  margin: 0 0 0 -642px;
}

.swiper[data-slider-bg] .swiper-slide {
  box-sizing: border-box;
  width: 214px;
  padding: 0 30px;
}

.swiper-button-prev,
.swiper-button-next {
  width: 120px;
  height: 120px;
  margin: 0;
  background: url(../image/icon/next.svg) no-repeat center/contain;
  outline: none;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0;
}

.swiper-button-prev {
  left: 0;
  transform: translateY(-50%) rotateY(180deg);
}

.swiper-button-next {
  right: 0;
  transform: translateY(-50%);
}

@media only screen and (max-width: 1169px) {
  .swiper[data-slider-bg] {
    margin: 0 0 0 -54.8717948718vw;
  }

  .swiper[data-slider-bg] .swiper-slide {
    width: 18.2905982906vw;
    padding: 0 2.5641025641vw;
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 10.2564102564vw;
    height: 10.2564102564vw;
  }
}

.cardBg {
  display: block;
}

.cardBg input {
  display: none;
}

.cardBg img {
  box-sizing: border-box;
  width: 100%;
  border: 2px solid #fff;
  opacity: 0.3;
  transition: opacity 0.3s;
}

.cardBg input:checked + img {
  opacity: 1;
}

@media only screen and (max-width: 1169px) {
  .cardBg img {
    border-width: 1px;
  }
}


/*# sourceMappingURL=card.css.map */
