{% extends './_layouts/_layout.tmpl' %}

{% block content %}
<div class="box">
    {# <div class="camera" data-camera="user">
        <video class="camera-video" playsinline autoplay muted data-camera-video="user"></video>
        <canvas class="camera-screen" data-camera-canvas="user"></canvas>
        <div class="camera-taking" data-camera-taking>
            <button>拍照</button>
        </div>
        <div class="camera-direction" data-camera-direction="user">
            <button>翻轉</button>
        </div>
    </div> #}
    <div class="camera">
        <div class="camera-video"></div>
        <div class="camera-screen"></div>
        {# <video class="camera-video" playsinline autoplay muted data-camera-video="environment"></video>
        <canvas class="camera-screen" data-camera-canvas="environment"></canvas> #}
        <div class="camera-taking" data-camera-taking>
            <button>拍照</button>
        </div>
        <div class="camera-direction" data-camera-direction>
            <button>翻轉</button>
        </div>
    </div>
    <div class="loading">
        <span>loading...</span>
    </div>
</div>
{# <div class="text">text</div> #}
{% endblock %}

{% block popups %}
{% endblock %}

{% block styles %}
{% endblock %}

{% block pluginScripts %}
<script src="./assets/lib/mediapipe/face_mesh.js"></script>
<script src="./assets/lib/mediapipe/camera_utils.js"></script>
<script src="./assets/lib/mediapipe/drawing_utils.js"></script>
{% endblock %}

{% block scripts %}
<script src="./assets/js/main.js"></script>
{% endblock %}